<h1 class= "text-center mb-4 text-decoration-underline">Gossip n°<%= params[:id_gossip] %></h1>

<body>
	<h3 class= "text-center mb-4">Voici le gossip</h3>
		<p> 
			<br> 
				<span class= "text-decoration-underline">L'auteur :</span> 
				<a class= "text-decoration-none" href="/user/<%= @gossip.user.id %>"><%= @gossip.user.first_name%> <%= @gossip.user.last_name %> </a>
			</br>
			<br><span class= "text-decoration-underline">Le titre :</span> <%= @gossip.title %></br>
			<br><span class= "text-decoration-underline">Le contenu :</span> <%= @gossip.content %></br>
			<br><span class= "text-decoration-underline">Créé le :</span> <%= @gossip.created_at %> </br>
		
		</p>

</body>
