<h1> Profil de <%= @user.first_name %> <%= @user.last_name %></h1>

<body>
		<p> 
			<br> <%= @user.description %></br>
			<br>Age : <%= @user.age %></br>
			<br>Ville  : <%= @user.city.name %> </br>
		
		</p>

</body>
