<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    <style>
    h1, h4 {
      font-family: 'Bebas Neue', cursive;
    } 
    </style>

  </head>

  <body>
      <!-- Bootstrap Static Header -->
      <div style="
      background-size: contain; 
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: url(https://images.healthshots.com/healthshots/en/uploads/2021/08/13105537/gossiping-2-770x433.jpg)" class="bg-cover">

          <div class="container py-5 text-center">
              <h1 class="display-4 text-black font-weight-bold bg-white mb-5" style="font-family: 'Bebas Neue', cursive;">Gossip Project</h1>
              <a href="http://localhost:3000/home" role="button" class="btn btn-light px-5">Accueil</a>
              <a href="http://localhost:3000/team" role="button" class="btn btn-light px-5">Team</a>
              <a href="http://localhost:3000/contact" role="button" class="btn btn-light px-5">Contact</a>
              
          </div>
      </div>
    <%= yield %>
  </body>
</html>
